[for="heading"]{
    color: crimson;
}

body{
    background-color: rgb(255, 226, 145);
}
h3{
    text-align: center;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-blue{
    color: purple;
}
#text{
    color: rgb(5, 88, 88);
}
#rest{
    background-color: rgb(151, 255, 47);
}