[for="heading"]{
    color: crimson;
}

body{
    background-color: #accede;
}
.text-center,h3{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-blue{
    color: purple;
}
span{
    height: 30px;
    display: inline-block;
}
#text{
    color: rgb(5, 88, 88);
}
#rest{
    background-color: rgba(151, 255, 47, 0.89);
}