[for="heading"]{
    color: crimson;
}

.auto-margin{
    text-align: left;
    display: table;
    margin: auto;
}

.box{
    border: 2px mediumvioletred;
    border-radius: 4px;
    border-style: dotted;
    width: fit-content;
    background-color: #f18ea7;
    box-shadow: 20px 20px 8px 6px rgba(201,147,147,0.56);
    margin: auto;
}

hr{
    width: 70%;
    border: 3px dotted rgb(62, 114, 84);
    border-radius: 2px;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

button{
border: 3px inset lightsalmon ;

}

.font{
    font-family: 'Monofett', cursive;
}

code{
    background-color: lightgray;
    color: rgb(189, 51, 51);
    display: inline-block;
    font-style: italic;
    text-align: left;
}

body{
    font-family:  cursive;
    background: url("images/Vertical Wallpaper3.png");
    background-size: cover;
}

.hover{
    text-decoration: none;
    color: rgb(97, 72, 8);
    font-family: serif;
    font-size: large;
    font-weight: 700;
    
}
.hover:hover{
      background-color: lightcyan;
      font-family: 'Nova Script', cursive;
      font-weight: bold;
}

.text-center,h3{
    text-align: center;
}

.text-right{
    text-align: right;
    text-decoration: none;
}

.text-blue{
    color: purple;
}

span{
    height: 2em;
    display: inline-block;
    text-decoration: underline wavy;
}

#text{
    color: rgb(5, 88, 88);
}

#rest{
    background-color: rgba(151, 255, 47, 0.89);
}

nav{
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'Dancing Script', cursive;
    border-style: solid;
    border-color: rgb(240, 188, 218);
    border-width: 0em;
    height: 10.5vh;
    width: 100%;
    position: fixed;
    right: 0em;
    left: 0em;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: url(images/Navbar6.png);
    background-size: cover;
    
} 

table{
    font-family: sans-serif;
    margin: auto;
    width: 240px;
    border:0.6em ;
    box-sizing: border-box;
    color: rgb(24, 34, 22) ; 
    font-weight: 700;
    border-style: groove; 
    border-color: crimson;
}

tr,th,td{
    padding: 0.3vw;
    border: 0.1em;
    border-style: solid;
    border-color: rgb(134, 30, 111);
    text-align: center;
}

main{
    padding-top: 6.7em;
}

.relative {
    position: relative;
    top: 0.25em;
}

.relative1 {
    position: relative;
    bottom: 0.85em;
}

.fixed {
    position: fixed;
}

.static{
    position: static;
}

.absolute {
    position: absolute;
}

.letter-spacing{
    letter-spacing: 2px;
    word-spacing: 4px;
}

.word-spacing{
    word-spacing: 6px;
    margin-left: 4px;
}

.Ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
}